@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

* {
  color: black;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Roboto', sans-serif !important;
  /* background: linear-gradient( */
   /* 100deg,
  #ffc800,
  #feee3e,
  #ffc800,
  #feee3e
  );
height: 100vh;
background-size: 400% 400% !important;
animation: gradient 15s ease infinite; */
}

/* @keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */





/*nav bar*/

.navBar {
  background-color: white;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

/*Floats each item to the left with padding of 14 & 16 px.
Removes the underline with text decoration = none.*/
.navBar a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Tahoma;
}

/*Background color change during hover state*/
.navBar a:hover {
  /* background-color: #ce3635; */
  color: #009cde;
}

/*Hides the menu Icon which will show when the nav needs to be responsive*/
.navBar .icon {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*Set your custom screen width here replacing 700*/
@media (max-width: 700px) {
  /*Ignores the first link (which is Home) in the div and       applies 'display = none' to everything else.   Basically hiding everything but Home*/
  .navBar a:not(:first-child) {
    display: none;
  }
  /*Brings the menu icon into view and floats it to the right*/
  .navBar a.icon {
    display: block;
    float: right;
  }

  /*The navBar class will be changed to 'navBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /*Removes the originally set float and brings them to view*/
  .navBar.responsive a {
    display: block;
    text-align: left;
  }
}

/* type writter header */

.typewriter {
  /* background-color:#ce3635; */
  text-align: center;
  color: black;
  padding-top: 30em;
  padding-bottom: 30em;
}

/* project container */

.projectsContainer {
  text-align: center;
  
}


/* asll 3 project cards*/

.projectCards {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
}

.card:hover{
  transform: scale(1.2);
  box-shadow: 2px 2px 5px black;
}



/* button and link spacing */

.card-body a{
text-align: center;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 20px;
}
/* project container buttons */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

/* About me container */

.aboutContainer {
  text-align: center;
  padding-bottom: 40px;

}


.aboutMeCard {
  padding-top: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.coverPageSlide {

  border-radius: 100px;
  height: 30vh;
  width: 20vw;
  background-image: url("https://images.pexels.com/photos/1006965/pexels-photo-1006965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  animation: myAnimation alternate infinite 14s;
  -webkit-animation: myAnimation alternate infinite 14s;
  -moz-animation: myAnimation alternate infinite 14s;
  -ms-animation: myAnimation alternate infinite 14s;
  -o-animation: myAnimation alternate infinite 14s;
}
@keyframes myAnimation {
  33.33% {
    background-image: url("https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  66.66% {
    background-image: url("https://images.pexels.com/photos/711089/pexels-photo-711089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  99.99% {
    background-image: url("https://images.pexels.com/photos/210540/pexels-photo-210540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
}




/* Contact me container */

.contactHead {
text-align: center;
}


/* @media (min-width: 992px)
.container {
    max-width: 960px;
}

@media (min-width: 1200px)
.container {
    max-width: 1140px;} */




    